@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300&family=Poppins&display=swap');


.linhaCat{
   width: 90%;
   height: 40px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-flow: row wrap;
   margin-top:1rem;
  }

  
.coluna7Cat{
    cursor: pointer;
    color: #9F9F9F;
    align-items: center;
    text-align:center;
    font-size: 12px;
    width: 14%;
  }

  .coluna7Cat span{
    color: #F71963;
    font-size: 12px;
  }

  .coluna7Cat:hover{
    color: #F71963;
  }

  .iconeCat{
    margin-right: 0.6rem;
  }

  