.titulo{
    color: #F71963;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
.containerProdutos{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    align-content: center; 
}

.containerProdutos2{
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
  align-content: center; 
}

.tituloProdutos { 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    margin-top: 5%;
}

.linhaProd{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.5rem;
    height: 40px;
    align-content: center;
   }
 
   
 .coluna6Prod{
     cursor: pointer;
     color: #9F9F9F;
     align-items: center;
     text-align:center;
     align-content: center;
     font-size: 16px;
     width: 16.6%;
     border: solid 1px;
     font-weight: 400;
   }

   .coluna6Prod span{
    color: #F71963;
    font-size: 16px;
  }

  .coluna6Prod:hover{
    color: #F71963;
    border-color: #9F9F9F;
    font-weight: 700;
  }


 